* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 22px 30px;
}

.nav {
  height: 70px;
  display: flex;
  padding: 22px 30px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.hero--img__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--img__photo {
  max-width: 396px;
}

.hero--title {
  font-weight: 600;
  font-size: 36px;
}

.hero--content {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  width: 35ch;
}

.card {
  width: 176px;
}

.card--img {
  position: relative;
}

.card--img__photo {
  width: 100%;
  height: 235px;
  border-radius: 9px;
}

.card--img__flag {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
  text-transform: uppercase;
  padding: 6px 5px;
  background: #fff;
  font-size: 10px;
  text-align: center;
  border-radius: 2px;
}

.card > * {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card--rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 300;
  font-size: 12px;
}

.card--rating__star {
  width: 14px;
}

.card--rating__reviews,
.card--rating__bullet,
.card--rating__ctry {
  color: #918e9b;
}

.card--content,
.card--price {
  font-weight: 300;
  font-size: 12px;
}

.card--price__bold {
  font-weight: 600;
}
